html,
body {
    background: linear-gradient(243deg, #000000, #000000, #000000);
    background-size: 600% 600%;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

h1 {
    color: royalblue;
    text-align: center;
    font-size: 40px;
    font-family: 'inknut antiqua', serif;
}

h2 {
    font-size: 40px;
    font-family: 'inknut antiqua', serif;
    text-shadow: 1px 1px 2px black;
}

#text {
    font-family: 'inknut antiqua', serif;
}

#textbox {
    text-shadow: 1px 1px 2px black;
    font-family: 'inknut antiqua', serif;
    box-shadow: 1px 1px 2px black;
}

#navbarSupportedContent ul li a:hover {
    transform: scale(1.1);
    color: #f8e17b;
}

#navbarSupportedContent ul li a {
    margin: 20px;
}

#navbar {
    text-align: center;
    font-size: 24px;
    font-family: 'Inknut Antiqua', serif;
    color: black;
}

#dropMenu {
    font-size: 15px;
}

#intro {
    text-align: center;
    font-size: 24px;
    font-family: 'Inknut Antiqua', serif;
    color: rgb(124, 124, 125);
}


/*================================================
bootstrap  diapo login  */

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner-sec {
    background: url(../../assets/img/logo.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #f8e17b;
}

.login-sec .copy-text a {
    color: #f8e17b;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #f8e17b;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #f8e17b;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px black;
}

.btn-login {
    background: #f8e17b;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}


/* ====================================================
cards bootstrap profil */

body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: linear-gradient(to top, white, #5277a7)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}